In [1]:
s = "Kunal"

In [2]:
print(s)

Kunal

In [3]:
type(s)

str

In [15]:
s = "rahul"

In [7]:
s

'Rahul'

In [8]:
lastname = "Rana"

In [10]:
s + " " + lastname

'Rahul Rana'

In [31]:
# input list of numers in one line

In [32]:
li = input()

 5 6 7 8 9

In [34]:
li = li.split(' ')

In [35]:
li

['5', '6', '7', '8', '9']

In [36]:
li = list(map(int, li))

In [37]:
li

[5, 6, 7, 8, 9]

In [38]:
map?

Init signature: map(self, /, *args, **kwargs)
Docstring:
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.
Type:           type
Subclasses:

In [39]:
nums = [1, 2, 4, 9]

In [40]:
def square(num):
    return num ** 2

In [45]:
map(square, nums)

In [42]:
int('3')

3

In [47]:
li = input().split()

 4 5 6 7

In [48]:
li

['4', '5', '6', '7']

In [57]:
" kunal ".join(li)

'4 kunal 5 kunal 6 kunal 7'

In [62]:
s = "Kunal Kushwaha"

In [70]:
rev = s[::-1]

In [71]:
s

'Kunal Kushwaha'

In [75]:
s = 'vikas'
s[1:3:-2]

''

In [78]:
def hello(s):
    print("Hello", s)

In [79]:
hello("Kunal")

Hello Kunal

In [83]:
name = "Kunal"
city = "New Delhi"
print(f"My name is {name} and I live in {city}")

My name is Kunal and I live in New Delhi

In [86]:
li = [3,4,5,6,7,99]

In [88]:
for num in li:
    print(num, end=" ")

3 4 5 6 7 99